extends layout

block content
  .container
    .row(ng-controller="ListCtrl")
      .col-md-9
        table.table.table-striped.table-condensed
          thead
            tr
              th.text-center CÓDIGO
              th.text-center DEPARTAMENTOS
              th &nbsp;
          tbody
            tr(ng-repeat="dpto in dptos")
              td.text-center {{dpto._id}}
              td {{dpto.desdep}}
              td
                delete-button &nbsp;Borrar
                //button.btn.btn-danger.btn-sm(ng-click="deleteDpto(dpto)")
                  //i.glyphicon.glyphicon-remove.glyphicon-white
                  //| &nbsp;Remove

      .col-md-3.form-group
        label Código :
        input.form-control(type='text',ng-model='reg._id')
        label Departamento :
        input.form-control(type='text',ng-model='reg.desdep')
        button.btn.btn-success(ng-click="addDpto()") Add

block scripts
  script(type="text/javascript",src="js/angular-resource.js")
  script(type="text/javascript",src="js/jquery.js")
  script(type="text/javascript",src="js/bootstrap.js")
  script(type="text/javascript",src="ng-mongo/app.js")